<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/lavish-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.highlight-5.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.sv.min.js"></script>
</head>
<body>
        <div id="header">
            <h1>Jag <span class="glyphicon glyphicon-heart text-danger"></span> Kalmar Brädspelsklubb</h1>
        </div>
    <div class="container-fluid body-content bg-info">
        <div class="row">
            <div class="col-lg-2">
                @{Html.RenderPartial("~/Views/Shared/_Menu.cshtml");}
            </div>
            <div class="col-lg-10" id="content">
                @RenderBody()
            </div>
        </div>
    </div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="myModalLabel">Lägg till medlemmar</h2>
                </div>
                @using (Ajax.BeginForm("AddParticipants", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "delete-p", InsertionMode = InsertionMode.Replace, OnBegin = "$('#myModal').modal('hide')" }))
                {
                <div class="modal-body">

                    <div id="members"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                    <button type="submit" class="btn btn-primary">Lägg till</button>
                </div>
                }
            </div>
        </div>
    </div>
    
</body>
</html>