
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2>Kalmars Brädspelsklubb</h2></div>
    <div class="panel-body">
    </div>

    <!-- List group -->
    <div class="list-group">
        <a class="list-group-item" href="@Url.Action("Index")"><span class="glyphicon glyphicon-home"></span> Hem</a>
        <a class="list-group-item" href="@Url.Action("NewMeeting")"><span class="glyphicon glyphicon-calendar"></span> Skapa möte</a>
        <a class="list-group-item" href="@Url.Action("AddMember")"><span class="glyphicon glyphicon-user"></span> Lägg till medlem</a>
        <a class="list-group-item" href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-search"></span> Sök och bläddra</a>
    </div>

</div>
<div class="collapse" id="collapseExample">
    <div class="well">

        @using (Ajax.BeginForm("SearchFilter", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace, OnSuccess = "hello()" }))
        {

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." name="search" id="searchbox">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
            </div>

            <div class="checkbox">
                <label>
                    <input class="check-box" type="checkbox" name="members" value="false" data-toggle="collapse" data-target="#member-detail" aria-expanded="false" aria-controls="member-detail">
                    Excludera medlemmar
                </label>
            </div>
    <div class="panel panel-default collapse" id="member-detail">
        <div class="panel-body">
            ...
        </div>
    </div>

            <div class="checkbox">
                <label>
                    <input class="check-box" type="checkbox" name="oldMeetings" value="false" data-toggle="collapse" data-target="#meeting-detail" aria-expanded="false" aria-controls="meeting-detail">
                    Excludera gamla möten
                </label>
            </div>
            <div class="panel panel-default collapse" id="meeting-detail">
                <div class="panel-body">
                    <div class="checkbox">
                        <label>
                            <input class="check-box" type="checkbox" name="meetings" value="false">
                            Excludera alla möten
                        </label>
                    </div>
                </div>
            </div>

        }


    </div>
</div>

<script>
    function hello() {
        $('#content td').highlight($('#searchbox').val());
    }
</script>